
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Lexend+Deca&family=Open+Sans&family=Poppins&display=swap');

.App{
  font-family: 'Chakra Petch', sans-serif;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5em;
  background-color: #a2b9bc;
  width: 100%;
  z-index:1;
  
font-family: 'Lexend Deca', sans-serif;
font-weight: bold;
}

.studentMain
{ background-color: #bbb8b8;
  height: 87.7vh;
   width:100% 
}
.form-title{
  font-weight: bold;
}